.consultation {
  .container {
    max-width: 1920px;
    padding: 0;
  }

  &__wrapper {
    position: relative;
    z-index: 10;
    margin-top: -50px;
    padding: 64px 356px;
    border-radius: 50px 50px 0 0;
    background-color: $palette-blue;
    background-image: url("../assets/images/page/home/bg-green-list.png"), url("../assets/images/page/home/blue-bubl-consult-up.png"),  url("../assets/images/page/home/blue-bubl-consult.png");
    background-position: bottom 50px left 53%, bottom 0 left 75%, bottom 0 left 75%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    color: $color-text__white;

    &::after {
      content: '';
      position: absolute;
      z-index: 20;
      bottom: 0;
      left: 60%;
      width: 360px;
      height: 630px;
      background-image: url("../assets/images/page/home/consult.png");
    background-position: bottom 0 left 0;
    background-repeat: no-repeat;
    }
  }

  &__title, h2 {
    padding-bottom: 12px;
    color: $color-text__white;
    text-align: left;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 480px;

    .input, textarea {
      width: 100%;
    }

    .button {
      padding: 17px 38px;
    }
  }

  &__text {
    padding-bottom: 18px;
  }

  &__soglasie {
    a {
      text-decoration: underline;
      transition: $transition-time ease;

      &:hover {
        text-decoration: none;
      }
    }
  }

}