.results {
  .container {
    max-width: 1920px;
    padding: 0;
    background-color: $color-text__white;
  }

  &__wrapper {
    @include breakpoint($breakpoint-laptop) {
      padding: 100px 50px 50px;
    }
    @include breakpoint($breakpoint-notebook) {
      padding: 240px 50px 100px;
      background-image: url("../assets/images/page/home/yellow-bubl.png");
      background-position: bottom 0 left 30%;
      background-repeat: no-repeat;
    }
    @include breakpoint($breakpoint-tablet) {
      padding: 268px 17px 100px;
      background-position: top 30% left 30%;
    }
    @include breakpoint($breakpoint-mobile) {
      margin-top: -50px;
      padding: 60px 12px 50px;
      background-image: none;
    }

    position: relative;
    z-index: 1;
    margin-top: 150px;

    padding: 100px 160px 50px;
    border-radius: 50px 50px 0 0;
    background-color: rgba(243, 244, 247, 1);
    background-image: url("../assets/images/page/home/yellow-bubl.png"), url("../assets/images/page/home/blue-bubl.png");
    background-position: bottom -450px left 10%, top -250px right 0;
    background-repeat: no-repeat, no-repeat;

    &--about {
      margin-top: 50px;
      padding-top: 158px;
      background-color: $palette-white;
    }
  }

  &__title, h2 {
    @include breakpoint($breakpoint-notebook) {
      padding-bottom: 43px;
      font-size: 32px;
      line-height: 36px;
    }
    @include breakpoint($breakpoint-mobile) {
      padding-bottom: 30px;
      font-size: 24px;
      line-height: 27px;
    }

    padding-bottom: 67px;
  }

  &__table {
    @include breakpoint($breakpoint-notebook) {
      grid-template-columns: repeat(3, 1fr);
    }
    @include breakpoint($breakpoint-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint($breakpoint-mobile) {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 33px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;

    p {
      text-align: center;
    }

    &--button {
      @include breakpoint($breakpoint-notebook) {
        grid-column: auto;
      }

      grid-column: 1/6;
      justify-content: center;
    }
  }

  &__number {
    @include breakpoint($breakpoint-laptop) {
      font-size: 60px;
      line-height: 70px;
    }
    @include breakpoint($breakpoint-tablet) {
      font-size: 40px;
      line-height: 47px;
    }

    color: $color-text__blue;
    font-size: 72px;
    line-height: 84.96px;
  }

  &__text {
    font-size: 18px;
    line-height: 25.74px;
  }

  &__button {
    display: flex;
    justify-content: center;
    padding: 39px 0 50px;

    .button {
      padding: 17px 38px;
    }
  }
}
