// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  .container {
    max-width: 1600px;
    padding: 37px 100px 37px 0;
  }
}

.footer {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    column-gap: 100px;
  }

  &__logo {
    grid-row: 1/5;
  }

  &__copyright {
    padding-top: 39px;
  }

  &__menu {
    grid-row: 1/6;
  }

  &__services {
    grid-row: 1/6;
  }

  &__mail {
    grid-column: 4/5;
  }

  &__social {
    display: flex;
    grid-column: 4/5;
    gap: 13px;
    padding: 12px 0;
  }

  &__soglasie {
    grid-row: 5/6;
    grid-column: 1/2;
    padding-top: 37px;
    color: $color-text__grey;
    font-size: 14px;
    line-height: 16.8px;

    a {
      text-decoration: underline;
      transition: $transition-time ease;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__creating {
    align-self: end;
    // padding-top: 52px;

    color: $color-text__grey;
    font-size: 14px;
    line-height: 16.8px;
  }
}
