// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  .container {
    @include breakpoint($breakpoint-desktop) {
      max-width: 100%;
      padding: 35px 50px 15px;
    }
    @include breakpoint($breakpoint-tablet) {
      padding: 35px 20px 20px;
    }

    max-width: 1600px;
    padding: 37px 100px 37px 0;
  }
}

.footer {
  &__wrapper {
    @include breakpoint($breakpoint-notebook) {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 18px;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-template-columns: 1fr 1fr;
      gap: 14px 18px;
    }

    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    column-gap: 100px;
  }

  &__logo {
    @include breakpoint($breakpoint-notebook) {
      grid-row: auto;
    }

    grid-row: 1/5;
  }

  &__copyright {
    padding-top: 39px;
  }

  &__menu {
    @include breakpoint($breakpoint-notebook) {
      grid-row: 1/3;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-row: 2/3;
      grid-column: 1/2;
    }

    grid-row: 1/6;
  }

  &__services {
    @include breakpoint($breakpoint-notebook) {
      grid-row: 1/4;
      grid-column: 3/4;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-row: 1/3;
      grid-column: 2/3;
    }

    grid-row: 1/6;
  }

  &__phone {
    @include breakpoint($breakpoint-mobile) {
      grid-row: auto;
      grid-column: 1/3;
      justify-self: center;
    }

    align-self: center;
  }

  &__mail {
    @include breakpoint($breakpoint-notebook) {
      grid-row: auto;
      grid-column: auto;
      align-self: center;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-row: auto;
      grid-column: 1/3;
      justify-self: center;
    }

    grid-column: 4/5;
  }

  &__contacts {
    @include breakpoint($breakpoint-notebook) {
      grid-row: 4/5;
      grid-column: 1/2;
      align-self: center;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-row: auto;
      grid-column: 1/3;
      justify-self: center;
    }
  }

  &__social {
    @include breakpoint($breakpoint-notebook) {
      grid-row: auto;
      grid-column: 2/3;
      align-self: center;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-row: auto;
      grid-column: 1/3;
      justify-self: center;
    }

    display: flex;
    grid-column: 4/5;
    gap: 13px;
    padding: 12px 0;
  }

  &__soglasie {
    @include breakpoint($breakpoint-notebook) {
      grid-row: 2/3;
      grid-column: 1/2;
      padding-top: 0;
    }
    @include breakpoint($breakpoint-mobile) {
      grid-row: auto;
      grid-column: 1/3;
      text-align: center;
    }

    grid-row: 5/6;
    grid-column: 1/2;
    padding-top: 37px;
    color: $color-text__grey;
    font-size: 14px;
    line-height: 16.8px;

    a {
      text-decoration: underline;
      transition: $transition-time ease;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__creating {
    @include breakpoint($breakpoint-notebook) {
      grid-row: auto;
      grid-column: 1/4;
      justify-self: center;
      padding-top: 20px;
    }

    align-self: end;
    // padding-top: 52px;

    color: $color-text__grey;
    font-size: 14px;
    line-height: 16.8px;
  }
}
