// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к блоку навигации
// -----------------------------------------------------------------------------

.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 38px;
    justify-content: center;
  }

  &__item {
    &.current > a {
      color: $link-hover-color;
    }
  }

  &__link {
    white-space: nowrap;
    transition: $transition-time ease;

    &:hover {
      color: $link-hover-color;
    }
  }

  &--header {
    .nav__item {
    }

    .nav__link {
    }
  }

  &--footer {
    .nav__list {
      flex-direction: column;
      gap: 16px;
    }

    .nav__item {
    }

    .nav__link {
      white-space: wrap;
    }
  }

  &--breadcrumb {
    padding-top: 28px;

    .nav__list {
      justify-content: flex-start;
    }

    .nav__item {
      position: relative;
      line-height: 22.88px;

      &:not(:first-child) {
        padding-left: 25px;

        &::before {
          content: url("../assets/images/global/breadcrumb.svg");
          position: absolute;

          top: -4px;
          left: -20px;
          width: 31px;

          margin-right: 6px;
        }
      }
    }

    span.nav__link {
      color: $color-text__grey;
    }
  }
}
