// -----------------------------------------------------------------------------
// В этом файле прописываются стили относящиеся ко всем страницам
// -----------------------------------------------------------------------------

body {
  background-color: $palette-grey;
}

.page {
  display: flex;
  flex-direction: column;

  overflow-x: hidden;
  min-height: 100vh;

  & > main {
    flex-grow: 1;
  }

  &__body {
    overflow: clip;
  }
}

.pagination {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 10px;
}

.page_wrapper > .search {
  padding: 10px 0;
}
