// -----------------------------------------------------------------------------
// В этом файле прописываются общие стили для всех секций сайта
// -----------------------------------------------------------------------------

.section {
  &__header {

  }

  &__title {

  }

  h1 {
    @include breakpoint($breakpoint-mobile) {
      font-size: 32px;
      line-height: 37px;
    }

    font-weight: 700;
    font-size: 42px;
    font-family: $font-title;
    line-height: 47.88px;
    letter-spacing: 0.03em;
  }

  h2 {
    @include breakpoint($breakpoint-mobile) {
      font-size: 30px;
      line-height: 35px;
    }

    font-weight: 700;
    font-size: 40px;
    font-family: $font-title;
    line-height: 45.6px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__text {
    ul {
      padding-left: 30px;
      list-style: disc;
    }
  }
}
