// -----------------------------------------------------------------------------
// В этом файле прописываются общие стили для всех секций сайта
// -----------------------------------------------------------------------------

.section {
  &__header {

  }

  &__title {

  }

  h2 {
    font-weight: 700;
    font-size: 40px;
    font-family: $font-title;
    line-height: 45.6px;
    letter-spacing: 0.03em;
    text-align: center;
  }
}
