// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-black: #000000;
$palette-yellow: rgba(241, 194, 50, 1);
$palette-blue: rgba(15, 130, 152, 1);
$palette-grey: rgba(243, 244, 247, 1);

// Цветовая палитра текста
$color-text__primary: rgba(78, 78, 78, 1);
$color-text__black: #000000;
$color-text__white: #ffffff;
$color-text__grey: rgba(149, 149, 149, 1);
$color-text__blue: rgba(15, 130, 152, 1);
$color-text__yellow: rgba(241, 194, 50, 1);

$link-hover-color: rgba(15, 130, 152, 1) !default;

body {
  color: $color-text__primary;
}
