<section class="section callback">
  <div class="container">
    <form action="" method="post" data-form>
      <div class="callback__wrapper">
        <div class="callback__info">
          <p class="callback__title">
            Хотите узнать подробнее?
          </p>
          <p class="callback__text">
            отправьте заполненную форму и мы вас проконсультируем по интересующему вопросу
          </p>
        </div>
        <!-- /.callback__info -->
        <div class="callback__name">
          <input type="text"  name="name" class="button input" placeholder="Ваше имя">
        </div>
        <!-- /.callback__name -->
        <div class="callback__phone">
          <input type="tel" name="tel" class="button input" placeholder="+7 000 000-00-00">
        </div>
        <!-- /.callback__phone -->
        <div class="callback__button">
          <button type="submit" class="button button-secondary">Отправить</button>
        </div>
        <!-- /.callback__button -->
        <div class="callback__soglasie">
          Нажимая Отправить вы соглашаетесь с условиями <a href="#">персональной обработки данных</a> и принимаете <a href="#">политику конфиденциальности</a>
        </div>
        <!-- /.callback__soglasie -->
      </div>
      <!-- /.collback__wrapper -->
    </form>
  </div>
  <!-- /.container -->
</section>