<footer id="footer" class="footer">
  <section class="section">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__logo">
          <a href="/" class="logo">
            <img src="assets/images/global/logo.png" alt="">
          </a>
          <p class="footer__copyright">
            © Северо-Западная мониторинговая компания, 2024 г.
          </p>
        </div>
        <!-- /.footer__logo -->
        <div class="footer__menu">
          <nav class="nav nav--footer">
            <ul class="nav__list">
              <li class="nav__item current"><a href="#" class="nav__link">О компании</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Наши работы</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Статьи</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Ответы на вопросы</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Фотогалерея</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            </ul>
          </nav>
        </div>
        <!-- /.footer__menu -->
        <div class="footer__services">
          <nav class="nav nav--footer">
            <ul class="nav__list">
              <li class="nav__item"><a href="#" class="nav__link">Мониторинг водных биоресурсов</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Производственный экологический контроль</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Оценка состояния водных биоресурсов</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Оценка воздействия на водные биоресурсы</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Гидробиологические исследования</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Рыбохозяйственные исследования</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Расчет ущерба водным биоресурсам и разработка компенсационных мероприятий</a></li>
            </ul>
          </nav>
        </div>
        <!-- /.footer__services -->
        <div class="footer__phone">
          <a href="tel:+70000000000" class="link">+7 (000) 000-00-00</a>
        </div>
        <!-- /.footer__phone -->
        <div class="footer__mail">
          <a href="mailto:mail@mail.ru" class="link">mail@mail.ru</a>
        </div>
        <!-- /.footer__mail -->
        <div class="footer__social">
          <a href="#" target="_blank" class="logo">
            <img src="assets/images/global/telegram.svg" alt="">
          </a>
          <a href="#" target="_blank" class="logo">
            <img src="assets/images/global/whatsapp.svg" alt="">
          </a>
        </div>
        <!-- /.footer__social -->
        <div class="footer__contacts">
          <a href="javascript:;" class="button button-primary js-modal-trigger" data-micromodal-trigger="modal-1">Связаться с нами</a>
        </div>
        <!-- /.footer__contacts -->
        <div class="footer__soglasie">
          Отправляя любую форму на сайте, Вы соглашаетесь с <a href="#">политикой конфиденциальности</a> и <a href="#">пользовательским соглашением</a>
        </div>
        <!-- /.footer__soglasie -->
        <div class="footer__creating">
          Создание сайта - <a href="https://artfactor.ru" target="_blank">АртФактор</a>
        </div>
        <!-- /.footer__creating -->
      </div>
      <!-- /.footer__wrapper -->
    </div>
    <!-- /.container -->
  </section>
</footer>

<!-- Контактная форма -->
<div id="modal-1" class="micromodal-slide modal" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close="">
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">
          Свяжитесь с нами
        </h2>
        <span class="modal__text">
          Заполните поля и мы свяжемся с вами в ближайшее время
        </span>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close=""></button>
      </header>
      <div class="modal__content" id="modal-1-content">
        <form action="" data-form="">
          <div class="modal-form">
            <div>
              <input class="input text" type="name" placeholder="Ваше имя">
            </div>
            <!-- <div>
              <input class="input mail" type="email" placeholder="E-mail">
            </div> -->
            <div>
              <input class="input tel" type="tel" placeholder="Телефон">
            </div>
            <!-- <div>
              <textarea class="input" placeholder="Сообщение" rows="3"></textarea>
            </div> -->
            <p class="modal-form__agree">
              Нажимая Отправить вы соглашаетесь с условиями <a href="#">персональной обработки данных</a> и принимаете <a href="#">политику конфиденциальности</a>
            </p>
            <button class="button button-primary" type="submit">Отправить</button>

          </div>
          <!-- /.modal-form -->
        </form>
      </div>
    </div>
  </div>
</div>

<!-- /Контактная форма -->


<!-- <div id="modal-1" class="micromodal-slide modal" aria-hidden="true">
  <div tabindex="-1" data-micromodal-close>
    <div role="dialog" aria-modal="true" aria-labelledby="modal-1-title" >
      <header>
        <h2 id="modal-1-title">
          Modal Title
        </h2>
        <button aria-label="Close modal" data-micromodal-close></button>
      </header>
      <div id="modal-1-content">
        Modal Content
      </div>
    </div>
  </div>
</div> -->