<footer id="footer" class="footer">
  <section class="section">
    <div class="container">
      <div class="footer__wrapper">
        <div class="footer__logo">
          <a href="/" class="logo">
            <img src="assets/images/global/logo.png" alt="">
          </a>
          <p class="footer__copyright">
            © Северо-Западная мониторинговая компания, 2024 г.
          </p>
        </div>
        <!-- /.footer__logo -->
        <div class="footer__menu">
          <nav class="nav nav--footer">
            <ul class="nav__list">
              <li class="nav__item current"><a href="#" class="nav__link">О компании</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Наши работы</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Статьи</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Ответы на вопросы</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Фотогалерея</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            </ul>
          </nav>
        </div>
        <!-- /.footer__menu -->
        <div class="footer__services">
          <nav class="nav nav--footer">
            <ul class="nav__list">
              <li class="nav__item"><a href="#" class="nav__link">Мониторинг водных биоресурсов</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Производственный экологический контроль</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Оценка состояния водных биоресурсов</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Оценка воздействия на водные биоресурсы</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Гидробиологические исследования</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Рыбохозяйственные исследования</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Расчет ущерба водным биоресурсам и разработка компенсационных мероприятий</a></li>
            </ul>
          </nav>
        </div>
        <!-- /.footer__services -->
        <div class="footer__phone">
          <a href="tel:+70000000000" class="link">+7 (000) 000-00-00</a>
        </div>
        <!-- /.footer__phone -->
        <div class="footer__mail">
          <a href="mailto:mail@mail.ru" class="link">mail@mail.ru</a>
        </div>
        <!-- /.footer__mail -->
        <div class="footer__social">
          <a href="#" target="_blank" class="logo">
            <img src="assets/images/global/telegram.svg" alt="">
          </a>
          <a href="#" target="_blank" class="logo">
            <img src="assets/images/global/whatsapp.svg" alt="">
          </a>
        </div>
        <!-- /.footer__social -->
        <div class="footer__contacts">
          <a href="" class="button button-primary">
            Связаться с нами
          </a>
        </div>
        <!-- /.footer__contacts -->
        <div class="footer__soglasie">
          Отправляя любую форму на сайте, Вы соглашаетесь с <a href="#">политикой конфиденциальности</a> и <a href="#">пользовательским соглашением</a>
        </div>
        <!-- /.footer__soglasie -->
        <div class="footer__creating">
          Создание сайта - <a href="https://artfactor.ru" target="_blank">АртФактор</a>
        </div>
        <!-- /.footer__creating -->
      </div>
      <!-- /.footer__wrapper -->
    </div>
    <!-- /.container -->
  </section>
</footer>