<header id="header" class="header">
  <section class="section">
    <div class="container">
      <div class="header__wrapper">
        <div class="header__logo">
          <a href="/" class="logo">
            <img src="assets/images/global/logo.png" alt="">
            <p>Северо-Западная<br>мониторинговая<br>компания</p>
          </a>
        </div>
        <div class="header__menu">
          <nav class="nav nav--header">
            <ul class="nav__list">
              <li class="nav__item menu-item current_page_item"><a href="#" class="nav__link">О компании</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Наши работы</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Статьи</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Ответы на вопросы</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Фотогалерея</a></li>
              <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
            </ul>
          </nav>
        </div>
        <!-- /.header__menu -->
        <div class="header__search">
          <a href="#" class="logo grey-hover search__button">
            <!-- <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M25.1248 25.125L19.5151 19.5153M19.5151 19.5153C20.4746 18.5557 21.2358 17.4166 21.7551 16.1628C22.2744 14.9091 22.5417 13.5654 22.5417 12.2083C22.5417 10.8513 22.2744 9.50757 21.7551 8.25384C21.2358 7.00011 20.4746 5.86095 19.5151 4.90138C18.5555 3.94182 17.4163 3.18065 16.1626 2.66134C14.9089 2.14203 13.5651 1.87474 12.2081 1.87474C10.8511 1.87474 9.50734 2.14203 8.25361 2.66134C6.99988 3.18065 5.86072 3.94182 4.90115 4.90138C2.96323 6.83931 1.87451 9.4677 1.87451 12.2083C1.87451 14.949 2.96323 17.5774 4.90115 19.5153C6.83908 21.4532 9.46747 22.5419 12.2081 22.5419C14.9488 22.5419 17.5771 21.4532 19.5151 19.5153Z"
                stroke="#3D4049" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            </svg> -->
          </a>

          <div class="search__form">
              <form role="search" method="get" id="searchform" action="#">
                <div>
                    <input type="text" value="" name="s" id="s" autofocus />
                    <input type="submit" id="searchsubmit" value="Search" />
                </div>
            </form>
          </div>
          <!-- /.search__form -->
        </div>
        <!-- /.header__search -->

        <div class="header__contacts">
          <a href="tel:+70000000000" class="link">+7 (000) 000-00-00</a>
          <a href="javascript:;" class="button button-primary js-modal-trigger" data-micromodal-trigger="modal-1">Связаться с нами</a>
        </div>
        <!-- /.header__contacts -->

        <div class="header__menu-mobile--overlay"></div>
        <div class="header__menu-mobile">
          <include src="layout/global/menu-mobile.html"></include>
        </div>
        <!-- /.header__mobile-menu -->

        <div class="header__burger">
          <button class="hamburger hamburger--spin" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
          </button>
        </div>
        <!-- /.header__burger -->
      </div>
      <!-- /.header__wrapper -->
    </div>
    <!-- /.container -->
  </section>
</header>