<nav class="nav nav--header">
  <ul class="nav__list">
    <li class="nav__item menu-item current_page_item"><a href="#" class="nav__link">О компании</a></li>
    <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
    <li class="nav__item"><a href="#" class="nav__link">Наши работы</a></li>
    <li class="nav__item"><a href="#" class="nav__link">Статьи</a></li>
    <li class="nav__item"><a href="#" class="nav__link">Ответы на вопросы</a></li>
    <li class="nav__item"><a href="#" class="nav__link">Фотогалерея</a></li>
    <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
  </ul>
</nav>