@keyframes slide-in {
  from {
    transform: translateY(15%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-10%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.modal {
  &__overlay {
    position: fixed;
    z-index: $z-index-modal;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(#000000, 0.7);
  }

  &__container {
    @include breakpoint($breakpoint-mobile) {
      width: auto;
      padding: 10px;
    }

    position: relative;
    width: 600px;
    padding: 75px 95px;
    background-color: rgba(243, 244, 247, 1);
    background-image: url("../assets/images/page/home/yellow-bubl.png"), url("../assets/images/page/home/blue-bubl.png");
    background-position: bottom -550px left -100px, top -450px right -250px;
    background-repeat: no-repeat, no-repeat;

  }

  &__header {
    text-align: center;
  }

  &__title {
    color: rgba(15, 130, 152, 1);
    font-weight: 400;
    font-size: 34px;
    line-height: 40.12px;
    text-align: center;
  }

  &__text {
    display: block;
    padding: 11px 0 23px;
    font-size: 18px;
    line-height: 25.74px;
  }

  &__close {
    @include breakpoint($breakpoint-mobile) {
      top: 0;
      right: 0;
    }

    position: absolute;
    z-index: 3;
    top: 24px;
    right: 25px;

    border: none;
    outline: none;
    background-color: transparent;

    cursor: pointer;

    transition: opacity 0.15s ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.5;
      }
    }

    &::before {
      content: url("../assets/images/global/modal-close.svg");
    }
  }

  &__content {
    .modal-form {
      display: flex;
      flex-direction: column;
      gap: 14px;

      .input {
        width: 100%;
      }

      &__agree {
        font-size: 12px;
        line-height: 16.32px;
        text-align: center;

        a {
          text-decoration: underline;
          transition: $transition-time ease;

          &:hover {
            text-decoration: none;
          }
        }
      }

      .button {
        align-self: center;
        padding: 23px 90px;
        font-size: 16px;
        line-height: 19.2px;
      }
    }
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: fade-in $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: slide-in $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: fade-out $transition-time cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: slide-out $transition-time cubic-bezier(0, 0, 0.2, 1);
}
