/* purgecss start ignore */

.lazy {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("../assets/images/misc/preloader.svg");
    background-position: center;
    background-size: 48px;
    background-repeat: no-repeat;

    opacity: 1;
    visibility: hidden;
    transition: $transition-time ease;
  }

  &--preloader {
    pointer-events: all;

    &::after {
      opacity: 1;
      visibility: visible;
    }
  }

  &__item {
    opacity: 0;
    visibility: hidden;

    pointer-events: none;

    transition: $transition-time ease;

    &--blur {
      opacity: 1;
      visibility: visible;

      filter: blur(10px);
    }
  }
}

.loaded {
  opacity: 1;
  visibility: visible;

  filter: none;
}

/* purgecss end ignore */
