.faq {
  .services__wrapper {
    background-image: url("../assets/images/page/services/bg-yellow.png");
    background-position: top -50px left 0;
    background-repeat: no-repeat;
  }

  &__wrapper {
    .ac {
      border: none;
      background-color: transparent;

      .ac-trigger {
        padding: 0 0 0 46px;
        color: $color-text__primary;
        font-weight: 500;
        font-size: 20px;
        font-family: $font-default;
        line-height: 28.6px;

        &:not(:first-child) {
          padding-top: 33px;
        }

        &::after {
          display: none;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          width: 26px;
          height: 14px;
          background-image: url("../assets/images/page/faq/arrow.svg");
          background-position: top 0 left 0;
          background-repeat: no-repeat;
          -webkit-transform: translate(0,-50%);
          transform: translate(0,-50%);
          transition: $transition-time ease;
        }
      }

      &.is-active {
        .ac-trigger {
          &::before {
            top: calc(50% - 7px);
            transform: scale(-1, -1);
          }
        }
      }

      .ac-panel {
        .ac-text {
          padding-left: 46px;
          color: $color-text__primary;
          font-size: 16px;
          font-family: $font-default;
          line-height: 22.88px;
        }

        ul {
          padding-left: 66px;
        }

      }
    }
  }

  &__question {
    padding-bottom: 13px;
    font-weight: 500;
    font-size: 20px;
    line-height: 28.6px;

    &:not(:first-child) {
      padding-top: 33px;
    }
  }

  &__answer {
    line-height: 22.88px;
  }
}