#page-about {
  .service {
    .container {
        background-image: url("../assets/images/page/services/bg-yellow.png");
        background-position: top -50px left 0;
        background-repeat: no-repeat;
    }
  }

}
