#page-about {
  .work {
    .services__wrapper {
      position: relative;
      margin-bottom: -50px;
      padding-bottom: 100px;
    }
  }

  .callback__wrapper {
    margin-top: 0;
    margin-bottom: -150px;
  }
}
