.button {
  display: inline-block;

  border: none;
  border-radius: $border-radius;

  background-color: transparent;
  text-align: center;

  white-space: nowrap;
  cursor: pointer;

  transition: all $transition-time ease;

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.input, textarea {
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
  outline: none;
  background: $palette-white;
}
