.button-secondary {
  @include breakpoint($breakpoint-mobile) {
    padding: 10px 15px;
    font-size: 14px;
    line-height: 16.8px;
  }


  padding: 23px 38px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  background: rgba(241, 194, 50, 1);
  cursor: pointer;
  transition: $transition-time ease;

  &:hover {
    color: $color-text__white;
  }
}